{% extends 'wrapper.html' %}
{% load static %}
{% load date %}


{% block head %}
<link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">

{% include 'style.html' %}

<!--Fonts-->
<link href="https://fonts.googleapis.com/css?family=Overpass:400,700,900&display=swap" rel="stylesheet">
<!-- <link rel="stylesheet" href="assets/fonts/font-awesome.css"> -->
<link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.css' %}">
{% endblock head %}

{% block body %}
<main>
    <div class="container py-5">
        <div class="row justify-content-between pb-3">
            <div class="col-auto">
                <a href="/">
                    <img src="{% static 'assets/img/logo.png' %}" alt=""><br>
                </a>
            </div>
        </div>

        <div class="row vertical-center">
            <div class="col-md-6 ml-2">
                <form action="" method="POST">
                    {% csrf_token %}

                    {{ form.count.label }}<br>
                    {{ form.count }}

                    <button type="submit" class="btn btn-dark mt-2 shadow">Изменить</button>
                </form>
            </div>

            <div class="col-md-6 ml-2">
                <label for="control-button-id">Включить/Отключить кнопку</label><br>
                {% if is_button %}
                <a href="{% url 'button_url' %}" id="control-button-id"
                    class="btn btn-dark shadow">Отключить</a>
                {% else %}
                <a href="{% url 'button_url' %}" id="control-button-id"
                    class="btn btn-dark shadow">Включить</a>

                {% endif %}
            </div>
        </div>

        <footer class="footer row pl-2">
            <!-- <div class="col-md-6 col-sm-6 col-xs-6"> -->
            <div class="col-md-6">
                <p class="animate fade-in animation-time-2s delay-1-5s mt-4">
                    <!-- style="position: relative; opacity: 0; top: -14px;"> -->
                    © DoloTEAM<br>
                    Покупка/продажа бурового инструмента и оборудования!
                </p>
            </div>
            <!-- <div class="col-md-6 col-sm-6 col-xs-6"> -->
            <div class="col-md-6 text-right">
                <p class="animate fade-in animation-time-2s delay-1-5s">
                    <!-- style="position: relative; opacity: 0; top: -14px;"> -->
                    <i class="fa fa-phone"></i> <a href="tel:+375296321916">+375 29 632 19 16</a><br>
                    <i class="fa fa-whatsapp"></i> <a href="https://wa.me/375296321916">+375 29 632 1916</a><br>
                    <i class="fa fa-envelope-o"></i> <a href="mailto:6321916@gmail.com">6321916@gmail.com</a>
                </p>
            </div>
        </footer>
    </div>
</main>
{% endblock body %}